body {
	text-align: center;
	background-color: orange;
}

h1 {
	font-size: 100px;
	margin-bottom: 1px;
}

a:link, a:visited {
	color: black;
	text-decoration: underline;
}

a:hover, a:active {
	background-color: blue;
	color: white;
	cursor: pointer;
}

body li {
	font-size: 25px;
	}

a {
	text-decoration: underline;
	color: black;
}

#voltar {
	text-decoration: underline;
	text-align: center;
}

section > h2 {
	font-size: 75px;
}

li span {
	font-size: 20px;
}
		
li {
	padding: 10px;
}

li > h2 {
	margin: 5px;
	position: relative;
	text-decoration: underline;
}

/************* Content FLEX ************/
.flex-content {
			text-align: center;
			display: flex;
		}


/*************************************/
/*H************************************************************** USADO EM TODOS FIM *************************/

/*H****************** USADO Home Page *************************/
#exp{
	text-align: left;

}#Menu {
	text-align: center;
	margin: 25px;
	margin-bottom: 45px;
	padding: 15px;
}

#Menu > span {
	font-size: 75px;
	}

#juice {
	text-align: left;
	padding: 40px;
}

#Menu span {
	font-size: 40px;
	}
#juice h2 {
	font-size: 35px;
	}

.juice-content {
	margin: 35px;
	padding-bottom: 35px;
}

.juice-content li {
	list-style: disc;

}

.pa-flex {
	display: flex;
}

#ar {
	text-align: center;
}

#ar > section {
	text-align: center;
	align-content: center;
}

.RamoArte {
	background-color: black;
	padding: 20px;
	border-radius: 12px;
  	border: 12px;
  	border-style: solid;
  	border-color: white;
	color: white;
	font-size: 22,5px;
	width: 50%;
	text-align: center;
	padding: 10px;
	margin: 25px;
}

.RamoArte a {
	color: white;
}

.RamoArte > h3 {
	font-size: 30px;
}



#ar li {
display: grid;
}

/************************************** FIM de HOME PAGE ******************************/


/************Formação Académica ************/

.Formação {
flex: 1;
padding: 30px;
}

main.flex-content li {
	margin-bottom: 50px;
}
section.Formação > ul {
	text-align: left;
	list-style: none;
}

div.item-container {
	padding: 10px;
	margin: 5px;
	text-align: left;
	border-radius: 12px;
	background-color: wheat;
}

img.fa-pic{
	padding: 10px;
}

#tit {
	font-weight: bold;
}

#tit img {
	padding: 10px; /* Vai dar padding à width total das imagens */
}

#tese {
	font-style: italic;
}

/************* Actividade Artistica *********/

#pa-flex.flex-content {
	box-sizing: border-box;
	display: flex;
}

.pa-flex-item {
	box-sizing: border-box;
	margin: 2%;
	flex: 1;
	padding-bottom: 10px;
}

div.item-container > h3 {
	position: relative;
	left: 15px;
}


p.ap-text {
	text-align: right;
}

div#filler {
	height: 80px;
}

span.vid-leg {
	margin: 10px;
}

img.pic-pa {
	float: left;
	margin: 10px;
}

#Música {
}

#Vídeo {
}

#Desenho {
}

.iframe-container{ /*******Para reactive video**********/
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
  margin-bottom: 10px;
  margin-top: 20px;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

#Vídeo > div.item-container {
	text-align: center;
}
/*******************Experiência Profissional *******************/

#pic {
	position: absolute;
	left: 80%;
	width: 80%;
	height: 60px;
}

#DJ {
	transform: rotate(90deg);
	clip: rect(10px);
}



		
